{% block _table_outter %}
<table>
    {{ knp_table_inner(table) }}
</table>
{% endblock _table_outter %}

{% block _table_inner %}
<thead>
    <tr>
        {% for header in table.headers %}
        {{ knp_table_outter(header) }}
        {% endfor %}
    </tr>
</thead>
{% endblock _table_inner %}

{% block _table_header_outter %}
<th>
    {{ knp_table_inner(header) }}
</th>
{% endblock _table_header_outter %}

{% block _table_header_inner %}
{{ header.config.label }}
{% endblock _table_header_inner %}

{% block _table_header_th_outter %}

{% endblock _table_header_th_outter %}

{% block _table_header_th_inner %}

{% endblock _table_header_th_inner %}

{% block _table_item_outter %}
<tr>
    {{ knp_table_inner(row) }}
</tr>
{% endblock _table_item_outter %}

{% block _table_item_inner %}
{% for cell in row.nodes %}
{{ knp_table_outter(cell) }}
{% endfor %}
{% endblock _table_item_inner %}

{% block _table_item_td_outter %}
<td>
    {{ knp_table_inner(cell) }}
</td>
{% endblock _table_item_td_outter %}

{% block _table_item_td_inner %}
{{ attribute(item, cell.id) }}
{% endblock _table_item_td_inner %}
